*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #45474B;
    color: #fff;
}
body{
    overflow: hidden;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    h1,h2,h3,h4,h5,h6{
        font-family: Ballo 2;
    }
    p, span, button, div{
        font-family: Fredoka;
    }
    .screen{
        width: 100%;
        height: 100%;
        padding: 40px;

    }
    .loading{
        position: absolute;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        animation: loadingClose 1s 1 linear forwards;
        animation-delay: 5s;

        .circle {
            position: relative;
            width: 360px;
            height: 360px;
            border-radius: 50%;
            overflow: hidden;
            .wave{
                position: absolute;
                width: 1000px;
            }
            .wave1{
                animation: wave1 6s 1 linear forwards;
                top: 330px;
                z-index: 2;                
            }
            .wave2{
                animation: wave2 5.7s 1 linear forwards;
                left: -650px;
                top: 300px;
                z-index: 1;
            }
        }
        @keyframes wave1{
            0% { transform: translateX(0); }
            100%{
                transform: translateX(-60%);
                top: -100px;
            }
        }
        @keyframes wave2{
            0% { transform: translateX(0); }
            100%{
                transform: translateX(80%);
                top: -200px;
            }
        }
        .curtains{
            width: 0px;
            height: 100vh;
            background: linear-gradient(to bottom, #372554, #52528C);
            position: absolute;
            left: 0;
            top: 0;
            animation: curtains 1s 1 linear forwards;
            animation-delay: 4.5s;
            z-index: 5;
        }
        @keyframes curtains{
            0% { width: 0px;}
            100%{
                width: 100%;
            }
        }
    }
    @keyframes loadingClose{
        0% { display: flex; }
        100%{
            display: none;
        }
    }
    .greeting{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .textCon{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1{
                color: #52528C;
                font-size: 76px;
                font-weight: 900;
            }
            p{
                color: #372554;
                font-size: 20px;
                font-weight: 300;
                width: 848px;
            }
        }
        .authCon{
            width: 900px;
            height: 450px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .cart{
                width: 350px;
                height: 400px;
                border-radius: 16px;
                border: #372554 2px solid;
                padding: 20px;
                display: flex;
                justify-content: center; 
                flex-direction: column;
                align-items: center;
                color: #372554;
                cursor: pointer;
                transition: 0.4s ease-in-out;
                img{
                    width: 170px;
                    margin-bottom: 20px;
                }    
                h3{
                    font-size: 42px;
                    font-weight: 700;
                }     
                p{
                    font-size: 22px;
                    font-weight: 400;
                    text-align: center;
                    width: 300px;
                    margin-top: 10px;
                }
            }
            .cart:hover{
                box-shadow: #52528C 0 0 10px 5px;
            }
        }
    }
    .backArrow{
        font-size: 42px;
        color: #52528C;
        position: absolute;
        top: 40px;
        left: 40px;
        cursor: pointer;
    }
    .logIn{
        width: 490px;
        height: 400px;
        border-radius: 16px;
        background-color: #52528C;
        padding: 20px;
        color: #fff;
        display: none;
        flex-direction: column;
        h3{
            font-size: 40px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
            font-weight: 400;
        }
        .input_con{
            display: flex;
            flex-direction: column;
            margin-top: 7px;
            label{
                font-size: 13px;
                font-weight: 300;
            }
            input{
                width: 440px;
                height: 50px;
                background-color: #fff;
                border-radius: 16px;
                box-shadow: #372554 4px 4px 5px;
                border: none;
                outline: none;
                margin-top: 2px;
            }
        }
        #forgotData{
            font-size: 13px;
            font-weight: 400px;
            margin-top: 10px;
        }
        #logIn{
            font-size: 32px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 64px;
            background-color: #fff;
            border-radius: 16px;
            color: #52528C;
            margin-top: 20px;
            border: none;
            outline: none;
            box-shadow: #372554 4px 4px 5px;
            cursor: pointer;
        }
        #noAccount{
            margin-top: 15px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }
        #noAccount:hover{
            color: #ccc;
            font-weight: 400;
        }
    }
    .registraion{
        width: 490px;
        height: 610px;
        border-radius: 16px;
        background-color: #52528C;
        padding: 20px;
        color: #fff;
        display: none;
        flex-direction: column;
        h3{
            font-size: 40px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
            font-weight: 400;
        }
        .nameCon{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .input_con{
                input{
                    width: 210px;
                }
            }

        }
        .input_con{
            display: flex;
            flex-direction: column;
            margin-top: 7px;
            label{
                font-size: 13px;
                font-weight: 300;
            }
            input{
                width: 100%;
                height: 50px;
                background-color: #fff;
                border-radius: 16px;
                box-shadow: #372554 4px 4px 5px;
                border: none;
                outline: none;
                margin-top: 2px;
            }
            .profile-picture {    
                label {
                    cursor: pointer;
                    display: block;
                    width: 100px; 
                    height: 100px; 
                    border-radius: 50%;
                    overflow: hidden;    
                    margin-top: 5px;    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                input[type="file"] {
                    display: none;
                }
            }
        }
        .passwordCheck{
            width: 100%;
            font-size: 13px;
            font-weight: 400;
            margin-top: 10px;
        }
        #registraion{
            font-size: 32px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 64px;
            background-color: #fff;
            border-radius: 16px;
            color: #52528C;
            margin-top: 20px;
            border: none;
            outline: none;
            box-shadow: #372554 4px 4px 5px;
            cursor: pointer;
        }
        #HaveAnAccount{
            margin-top: 15px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }
        #HaveAnAccount:hover{
            color: #ccc;
            font-weight: 400;
        }
    }
}